* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    --stan-store-theme-primary-color: #BB1616;
}

html{
    background-color: #000;
    height: 100%;
}

*,
:after,
:before {
    box-sizing: border-box;
    background-repeat: no-repeat;
}
div {
    display: block;
    /* overflow-y: hidden; */
}
body{
    height: 100%;
}

#__next {
    height: 100%;
}

.store__container{
    max-width: 800px;
}

body, div {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
:root {
    --stan-store-theme-primary-text-color: #ffffff;
    --stan-store-theme-primary-font: Libre Baskerville;
    --default-font-primary: "Plus Jakarta Sans", sans-serif;
    --default-font-secondary: "Inter", sans-serif;
    --stan-store-theme-secondary-color: #000000;
    --stan-store-theme-placeholder-text-color: #ffffff88;
    font-family: var(--stan-store-theme-secondary-font, var(--default-font-secondary));
    --stan-store-theme-primary-color: #BB1616;
    --stan-store-theme-button-text-color: #ffffff;
    --stan-store-theme-secondary-text-color: #ffffff88;
    --stan-store-primary-color: #BB1616;
    --stan-store-theme-primary-color: #BB1616;
    --stan-store-secondary-color: #000000;
    --stan-store-theme-secondary-color: #000000;
    --stan-store-theme-tone1-color: undefined;
    --stan-store-theme-tone2-color: undefined;
    --stan-store-theme-tone3-color: undefined;
    --stan-store-theme-derived1-color: undefined;
    --stan-store-theme-derived2-color: undefined;
    --stan-store-theme-derived3-color: undefined;
    --stan-store-theme-primary-text-color: #ffffff;
    --stan-store-theme-button-text-color: #ffffff;
    --stan-store-theme-secondary-text-color: #ffffff88;
    --stan-store-theme-placeholder-text-color: #ffffff88;
    --stan-store-theme-primary-font: Libre Baskerville;
    --stan-store-background-url: url(https://assets.stanwith.me/live/msc/26165593/5ez62/2943866…n.jpg);
}

.store__container stone {
    background: var(--stan-store-theme-secondary-color);
}

.store-header {
    overflow: visible;
    height: fit-content;
}

.store-header__content {
    display: block !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: none !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: -1px;
    display: flex;
    align-items: center;
    color: var(--stan-store-theme-primary-text-color);
    overflow: hidden;
}

.base-preview-image {
    display: block;
    border-radius: 0;
    width: 100% !important;
    overflow: visible;
    aspect-ratio: 1.125;
}

.d-none {
    display: none !important;
}

.store-header__image {
    border: none;
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: 0 0 -130px;
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--stan-store-theme-primary-text-color);

}

.store-header__profile {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.store-header__profile {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 0;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.store-header__names {
    margin-bottom: 12px;
    overflow: visible;
}

.store-header__fullname {
    font-family: var(--stan-store-theme-primary-font, var(--default-font-primary));
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0;
    text-align: center;
    width: 100%;
    color: var(--stan-store-theme-primary-text-color);
    margin-bottom: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: inherit;
    overflow: inherit;
    text-overflow: inherit;
}

.social-icons {
    margin: auto auto 12px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.store-header__image {
    border: none;
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: 0 0 -130px;
    border-radius: 0;
    min-width: 75px;
    overflow: hidden;
}

.store-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
}

.store-header__image::before {
    content: "";
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(transparent 1%, #171717 99%);
    transform: rotate(180deg);
}

.store-header__image::after {
    content: "";
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 10%, var(--stan-store-theme-secondary-color) 90%);
}

.social-icons>div {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    min-height: 32px;
    min-width: 32px;
    margin: 4px;
    border: 1px solid var(--stan-store-theme-primary-text-color);
    border-radius: 10px;
    background: transparent;
}

.social-icons>div>svg {
    width: 18px;
    height: 18px;
    margin: auto;
    display: block;
}

.social-icons>div>svg>path {
    fill: var(--stan-store-theme-primary-text-color);
}

.store-content {
    background-color: black;
    height: stretch;
    width: stretch;
    padding: 0 20px 20px !important;
    min-height: 80vh;   
}

.store-link {
    margin-bottom: 12px !important;
    border: 1px solid var(--stan-store-theme-placeholder-text-color);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding: 12px;
}

.block-image {
    display: block !important;
    height: 72px;
    width: 72px;
    min-width: 72px;
    overflow: hidden;
    border-radius: 5px;
}

.block-image>img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    border-radius: 50%;
}

.block-image>svg {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    border-radius: 50%;
    fill: white;
}

.store-link-info {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.description {
    color: #000;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: 4px;
}

.block__heading {
    font-family: var(--stan-store-theme-primary-font, var(--default-font-primary));
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    margin: 0;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    width: 100%;
    color: var(--stan-store-theme-primary-text-color);
}

.block__subheading {
    font-family: var(--stan-store-theme-secondary-font, var(--default-font-secondary));
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--stan-store-theme-secondary-text-color);
    word-wrap: anywhere;
    width: 100%;
    margin: 6px 0 0;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.click-link-button {
    border: none;
    width: 100%;
    display: inline-block;
    color: #000;
    text-align: center;
    min-height: 42px;
    box-sizing: border-box;
    white-space: pre-line;
    word-wrap: break-word;
    background: var(--stan-store-theme-primary-color);
}

.click-link-button>div {
    width: 80%;
    margin: 0 auto;
    font-family: var(--default-font-primary);
    font-family: var(--stan-store-theme-primary-font, var(--default-font-primary));
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    word-wrap: anywhere;
    color: var(--stan-store-theme-button-text-color);
}
.react-international-phone-input-container .react-international-phone-country-selector-button{
    background-color: #000 !important;
    padding: 20px !important;
    border-color: rgba(255, 255, 255, 0.23);
}
.react-international-phone-country-selector-dropdown{
    background-color: #000 !important;
    padding: 20px !important;
    border: 1px solid rgba(255, 255, 255, 0.23) !important;
    z-index: 10 !important;
    /* position: absolute; */
    /* position: fixed !important; */
    /* margin-top: 27.3rem !important;
    margin-left: 3.3rem !important; */
}
.react-international-phone-country-selector-dropdown__list-item .react-international-phone-country-selector-dropdown__list-item--selected .react-international-phone-country-selector-dropdown__list-item--focused{
    background-color: black;
    padding: 20px !important;
}
.react-international-phone-input-container .react-international-phone-input{
    background-color: rgba(255, 255, 255, 0.09) !important;
    color: white !important;
    padding: 20px !important;
    border-color: rgba(255, 255, 255, 0.23) !important;

}
.react-international-phone-flag-emoji .react-international-phone-country-selector-button__flag-emoji{
    margin-right: 5px !important;
}
.react-international-phone-country-selector-dropdown__list-item{
    background-color: #000 !important;
    color: white !important;
    /*position: relative;  or absolute, fixed, etc. */
    z-index: 10 !important;
    /* position: relative !important; */
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgba(255, 255, 255, 0.09);
    margin: 1px;
}

*::-webkit-scrollbar
{
	width: 3px;
	background-color: rgba(255, 255, 255, 0.09);
}

*::-webkit-scrollbar-thumb
{
	background-color: rgba(255, 255, 255, 0);
	border: 2px solid #555555;
}